* {
    margin: 0 auto;
    padding: 0;
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.upCity {
    height: 1027px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.upCity p {
    font-size: 11px;
    text-align: center;
    color: white;
}

.bgUpCity {
    height: 1027px;
    position: absolute;
    z-index: -1;
    transform: translate(0px, -7px);
    overflow: hidden;
}

.textUpCity {
    padding: 200px 0;
}

.textUpCity h1 {
    font-size: 60px;
    text-align: center;
    color: white;
}

.textUpCity p {
    font-size: 16px;
    text-align: center;
    color: white;
}

header {
    height: 65px;
    border-bottom: 1px #E6E6E6 solid;
}

.hero {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.hero img {
    height: 18px;
}

li {
    list-style: none;
    font-size: 12px;
    text-align: center;
    transition: color 0.2s;
    transition: rotate 0.5s;
    color: #48555B;
}

li:hover {
    color: #00A4E5;
    rotate: 360deg;
}

ol {
    display: flex;
    gap: 30px;
}

.hero1 {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 60px auto;
}

.hero1 hr {
    width: 50px;
    border: 2px solid #00A4E5;
}

.naoplnenie {
    display: flex;
    justify-content: space-between;
    gap: 75px;
    margin-top: 70px;
}

.textLeft {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.textLeft h2 {
    font-size: 20px;
    text-align: left;
    color: #48555B;
}

.textLeft span {
    font-size: 20px;
    text-align: left;
    color: #00A4E5;
}

.textLeft p {
    font-size: 13px;
    line-height: 23px;
    letter-spacing: 0.18750004470348358px;
    text-align: left;
    color: #48555B;
}

.imgsRight {
    display: flex;
    gap: 20px;
    align-items: end;
}

.hero2 {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.upText {
    display: flex;
    justify-content: space-between;
    gap: 20%;
}

.leftUpText {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px 0px;
}

.leftUpText h1 {
    font-size: 18px;
    text-align: left;
    color: #48555B;
    margin: 0px 0px;
}

.leftUpText hr {
    border: 2px solid #00A4E5;
    width: 50px;
    margin: 0px 0px;
}

.rightUpText {
    display: flex;
    gap: 32px;
}

.rightUpText p {
    font-size: 11px;
    line-height: 19px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
}

.rightUpText button {
    width: calc(150/40*10%);
    background-color: #00A4E5;
    font-size: 13px;
    text-align: center;
    color: white;
    border: 0;
}